body {
    font-family: 'Impact', arial;
    margin: 0;
    padding: 10px;
    background-color: black;
}

header {
    background: transparent;
    color: white;
    padding: 10px 0;
    text-align: center;

}

h1, h2 {
    color: white;
}
