body {
    font-family: 'Impact', arial;
    margin: 0;
    color: white;
    padding: 12px;
    background-color: black;
}

header {
    background: transparent;
    color: white;
    padding: 12px 0;
    text-align: center;

}

/* Styles for Linked Sections*/
.linked-section

{
    background: #451191; /*purple*/
    color: white;
    padding: 10px 0;
    text-align: left;
    border: 2px solid #fc0317;
    border-radius: 15px;
}

/*Link color before click*/
a {
    color: blue;
}

/*Link Color After Click*/
a:visited {
    color: #6f7fd1;
}
h1, h2 {
    color: white;
}
