body {
    font-family: 'Impact', arial;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background: white;
    color: #fff;
    padding: 10px 0;
    text-align: center;

}

h1, h2 {
    color: white;
}
