---
---

@import "{{ site.theme }}";

:root {
  --background-primary: #202020;
  --background-secondary: #161616;
  --text-normal: #dcddde;
  --text-muted: #999;
  --text-faint: #666;
  --text-accent: #7f6df2;
  --interactive-accent: #7f6df2;
}

body {
  background-color: var(--background-primary);
  color: var(--text-normal);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-accent);
}

a {
  color: var(--interactive-accent);
}

code {
  background-color: var(--background-secondary);
}
